github "Alamofire/Alamofire" ~> 3.0
github "SwiftyJSON/SwiftyJSON" "swift3"
github "ParsePlatform/Parse-SDK-iOS-OSX"
github "DaveWoodCom/XCGLogger" ~> 3.3
github "kciter/KCFloatingActionButton"
github "hyperoslo/ImagePicker" "swift-3"
github "vikmeup/SCLAlertView-Swift"
github "gavinbunney/Toucan"
github "onevcat/Kingfisher" ~> 2.2
github "malcommac/SwiftDate"

